Repository Leets-Official/EatMate-FE, pull requests merged in 2025-02, with the labels that each got.

#53 #44 Feat: 모임 상세 api
  src/apis/meetings/getMeeting.ts
  src/components/Home/MeetingList.tsx
  src/components/Home/MeetingListItem.tsx
  src/components/MeetingDetail/MeetingDetailMain.tsx
  src/components/MeetingDetail/MeetingInfo.tsx
  src/components/MeetingDetail/ParticipantsList.tsx
  src/components/common/BottomNavi.tsx
  src/constants/meetingInfoContents.tsx
  src/pages/MeetingDetail.tsx
  src/routes/route.tsx
  src/utils/dateUtils.ts
Labels: 🐞BugFix, ✨Feature, 🔗API

#55 #46 Feat: 마이페이지 정보 조회 api 연결
  src/apis/profile/getProfile.ts
  src/components/common/Loading.tsx
  src/components/common/Modal/styles.ts
  src/components/mypage/UserInfoInputFields.tsx
  src/hooks/useProfileImage.ts
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/UserInfoEdit.tsx
Labels: ✨Feature, 🎨Design, ♻Refactor, 🔗API

#57 #51 Feat: 프로필상세 차단 신고
  .gitignore
  src/assets/images/ic_block.png
  src/assets/images/ic_circle_check.svg
  src/components/common/Modal/BlockModal.tsx
  src/components/common/Modal/CardModal.tsx
  src/pages/chat/ChatRoom.tsx
  src/pages/chat/UserProfile.tsx
  src/pages/chat/UserReport.tsx
  src/pages/chat/UserReportPost.tsx
  src/routes/route.tsx
Labels: 🐞BugFix, ✨Feature, 🎨Design

#60 #56 Feat: 마이페이지 모임 목록 조회 / 공지 /차단 api 연결 + ui 수정 + 스플래쉬 화면 추가
  package-lock.json
  package.json
  public/font/AppleSDGothicNeoM.ttf
  src/apis/block/getBlock.ts
  src/apis/meetings/getMyMeeting.ts
  src/apis/notice/getNotice.ts
  src/apis/profile/patchProfile.ts
  src/apis/report/getReport.ts
  src/assets/images/ic_eatmate_white_logo.svg
  src/assets/images/ic_mypage_calendar.svg
  src/assets/lotties/BeerLottie.json
  src/components/Home/MeetingListItem.tsx
  src/components/common/BottomNavi.tsx
  src/components/common/Header/styles.ts
  src/components/mypage/MyMeetingItem.tsx
  src/pages/Splash.tsx
  src/pages/mypage/BlockedUser.tsx
  src/pages/mypage/MyCreatedMeetings.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/MyParticipatedMeetings.tsx
  src/pages/mypage/Notice.tsx
  src/pages/mypage/ReportedUser.tsx
  src/pages/signup/LoginCallback.tsx
  src/styles/mypage/mypage.styled.ts
Labels: ✨Feature, 🎨Design, ♻Refactor, 🔗API

#65 #59 Feat: 참여중인 모임 UI
  src/assets/images/ic_beverage.svg
  src/assets/images/ic_delivery.svg
  src/assets/images/ic_meal.svg
  src/pages/ParticipatingMeeting.tsx
  src/routes/route.tsx
  src/utils/dateUtils.ts
Labels: ✨Feature, 🎨Design

#67 #52 Feat: 채팅 api 연결
  package-lock.json
  package.json
  src/apis/chat/exitChatRoom.ts
  src/apis/chat/getChatData.ts
  src/apis/meetings/enterChatRoom.ts
  src/apis/meetings/getMeeting.ts
  src/apis/profile/getProfile.ts
  src/components/MeetingDetail/MeetingDetailMain.tsx
  src/components/MeetingDetail/MeetingInfo.tsx
  src/components/chat/Notice.tsx
  src/components/common/Modal/ChatExitModal.tsx
  src/components/common/Modal/ChatModal.tsx
  src/components/common/Modal/MeetingGuideModal.tsx
  src/hooks/useWebSocket.ts
  src/pages/MeetingDetail.tsx
  src/pages/chat/ChatRoom.tsx
  src/styles/chat/ChatRoom.styled.ts
  src/utils/dateUtils.ts
Labels: 🐞BugFix, ✨Feature, 🔧Chore

#68 #61 Feat:모임 공지사항 관련 api 연결
  package-lock.json
  package.json
  src/apis/meetings/createMeeting.ts
  src/apis/notice/getNotice.ts
  src/assets/images/ic_crying.gif
  src/assets/images/ic_eatmate_white_logo.svg
  src/components/event/BackgroundOption.tsx
  src/components/event/GenderOption.tsx
  src/components/event/ParticipantOption.tsx
  src/components/event/TimePicker.tsx
  src/constants/MeetingFieldsConstants.ts
  src/constants/mypageMenuConstants.ts
  src/hooks/useInputHandler.ts
  src/pages/MeetingDetail.tsx
  src/pages/Splash.tsx
  src/pages/event/DeliveryMeetingCreate.tsx
  src/pages/event/OfflineMeetingCreate.tsx
  src/pages/mypage/Notice.tsx
  src/pages/mypage/NoticeDetail.tsx
  src/pages/mypage/ReportedUser.tsx
  src/pages/signup/Intro.tsx
  src/pages/signup/SignupError.tsx
  src/routes/route.tsx
  src/styles/SignUp/IntroPage.styled.ts
  src/utils/dateUtils.ts
Labels: ✨Feature, 🎨Design, ♻Refactor, 🔗API

#64 #63 Fix: qa 피드백 적용
  package-lock.json
  src/apis/meetings/getMeeting.ts
  src/assets/images/ic_clock_line.svg
  src/assets/images/ic_send.svg
  src/components/Home/DeliveryCategory.tsx
  src/components/Home/MeetingList.tsx
  src/components/Home/MeetingListItem.tsx
  src/components/MeetingDetail/MeetingDetailMain.tsx
  src/components/MeetingDetail/MeetingInfo.tsx
  src/components/MeetingDetail/ParticipantsList.tsx
  src/components/common/Header/Header.tsx
  src/components/common/Modal/ChatModal.tsx
  src/constants/meetingInfoContents.tsx
  src/hooks/useRemainingTime.ts
  src/pages/Home.tsx
  src/pages/MeetingDetail.tsx
  src/pages/chat/ChatRoom.tsx
  src/pages/event/DeliveryMeetingCreate.tsx
  src/pages/event/OfflineMeetingCreate.tsx
  src/pages/signup/PolicyDetails.tsx
  src/styles/chat/ChatRoom.styled.ts
  src/utils/dateUtils.ts
Labels: 🐞BugFix, ✨Feature, 🎨Design

#69 #66 Feat: 참여중 api 연결
  src/apis/meetings/getMyMeeting.ts
  src/components/Home/MeetingListItem.tsx
  src/components/common/BottomNavi.tsx
  src/pages/ParticipatingMeeting.tsx
Labels: 🐞BugFix, ✨Feature, 🎨Design

#70 #58 Feat: 신고 차단 api 연결
  package-lock.json
  package.json
  src/apis/block/createBlock.ts
  src/apis/user/creatUserReport.ts
  src/apis/user/createUserBlock.ts
  src/components/MeetingDetail/MeetingInfo.tsx
  src/components/common/Modal/BlockModal.tsx
  src/pages/chat/ChatRoom.tsx
  src/pages/chat/UserProfile.tsx
  src/routes/route.tsx
Labels: 🐞BugFix, ✨Feature, 🔗API
